@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: 'Montserrat', sans-serif; }

.img-fluid {
  width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

.full-container {
  max-width: 1220px;
  width: 100%;
  border: 1px solid red; }

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

h1 {
  color: red; }

.count {
  padding-top: 204px;
  padding-bottom: 262px;
  background-color: #F64B3C; }
  @media (max-width: 970px) {
    .count {
      padding-top: 160px;
      padding-bottom: 200px; } }
  @media (max-width: 790px) {
    .count {
      padding-top: 130px;
      padding-bottom: 150px; } }
  @media (max-width: 480px) {
    .count {
      padding-bottom: 100px;
      padding-top: 80px; } }
  .count__count-statistics {
    width: 100%;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
  .count__count-h1 {
    font-size: 66.26px;
    margin-bottom: 53px;
    color: #fff;
    font-family: 'Oswald', sans-serif; }
    @media (max-width: 480px) {
      .count__count-h1 {
        font-size: 45px; } }
  .count__count-p {
    font-size: 24.68px;
    color: #fff;
    line-height: 29.61px;
    margin-bottom: 189px; }
    @media (max-width: 790px) {
      .count__count-p {
        margin-bottom: 100px; } }
    @media (max-width: 480px) {
      .count__count-p {
        margin-bottom: 36px;
        font-size: 20px; } }
  .count__count-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1225px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 640px) {
      .count__count-flex {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .count__count-down, .count__count-text-span {
    font-size: 101px;
    color: #fff;
    font-family: 'Oswald', sans-serif; }
    @media (max-width: 967px) {
      .count__count-down, .count__count-text-span {
        font-size: 80px; } }
    @media (max-width: 767px) {
      .count__count-down, .count__count-text-span {
        font-size: 65px; } }
  .count__count-p2 {
    margin-top: 20px;
    font-size: 33.33px;
    color: #fff; }
    @media (max-width: 967px) {
      .count__count-p2 {
        font-size: 27px; } }
    @media (max-width: 767px) {
      .count__count-p2 {
        font-size: 20px; } }
  .count__count-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    @media (max-width: 1023px) {
      .count__count-box {
        height: 280px; } }
    @media (max-width: 967px) {
      .count__count-box {
        height: 220px; } }
    @media (max-width: 767px) {
      .count__count-box {
        height: 160px; } }
    @media (max-width: 640px) {
      .count__count-box {
        margin-top: 20px; } }
    @media (max-width: 480px) {
      .count__count-box {
        margin-top: 0px; } }

.herbert__background-img {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 965px;
  background-size: cover;
  background-image: url(../../img/herbert_bg.png);
  background-position: 0% 0%;
  position: relative; }
  @media (max-width: 1239px) {
    .herbert__background-img {
      background-position: 50% 0%; } }
  @media (max-width: 640px) {
    .herbert__background-img {
      min-height: 626px; } }

.herbert__herbert-container {
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 331px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 640px) {
    .herbert__herbert-container {
      padding-top: 120px; } }

.herbert__herbert-p {
  margin-bottom: 174px;
  color: #fff;
  font-size: 36.46px;
  line-height: 43.75px;
  font-family: 'Nunito', sans-serif; }
  @media (max-width: 640px) {
    .herbert__herbert-p {
      font-size: 30.46px; } }
  @media (max-width: 480px) {
    .herbert__herbert-p {
      font-size: 26px;
      margin-bottom: 95px; } }

.herbert__herbert-h3 {
  color: #fff;
  font-size: 58px;
  font-family: 'Oswald', sans-serif; }

.subscribe {
  background-color: #E8631C; }
  .subscribe__subscribe-container {
    padding: 129px 15px 161px 15px;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    @media (max-width: 640px) {
      .subscribe__subscribe-container {
        padding-top: 70px;
        padding-bottom: 90px; } }
  .subscribe__subscribe-h1 {
    font-size: 75px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 57px;
    font-family: 'Oswald', sans-serif; }
    @media (max-width: 970px) {
      .subscribe__subscribe-h1 {
        font-weight: bold;
        font-size: 60px;
        line-height: 50px; } }
    @media (max-width: 767px) {
      .subscribe__subscribe-h1 {
        font-size: 45px; } }
  .subscribe__subscribe-p {
    font-size: 29.72px;
    font-weight: 400;
    color: #fff;
    line-height: 35.67px; }
    @media (max-width: 970px) {
      .subscribe__subscribe-p {
        font-size: 26px; } }
    @media (max-width: 767px) {
      .subscribe__subscribe-p {
        font-size: 22px; } }
  .subscribe__search-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    border-radius: 2px; }
  .subscribe__subscribe-input {
    width: 100%;
    height: 65px;
    background-color: #fff;
    color: #835E3F;
    font-weight: 300;
    outline: none;
    border: 1px solid transparent;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px; }
    @media (max-width: 970px) {
      .subscribe__subscribe-input {
        height: 50px; } }
  .subscribe__search-button {
    width: 100%;
    max-width: 222px;
    background-color: #303030;
    color: #fff;
    cursor: pointer;
    height: 65px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Oswald', sans-serif; }
    @media (max-width: 970px) {
      .subscribe__search-button {
        height: 50px;
        font-size: 20px;
        max-width: 200px; } }
    @media (max-width: 640px) {
      .subscribe__search-button {
        max-width: 150px; } }

.footer {
  padding-top: 128px;
  padding-bottom: 92px;
  background-color: #222222; }
  @media (max-width: 767px) {
    .footer {
      padding-top: 90px;
      padding-bottom: 70px; } }
  @media (max-width: 480px) {
    .footer {
      padding-top: 40px;
      padding-bottom: 50px; } }
  .footer__footer-container {
    width: 100%;
    max-width: 1241.29px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto; }
  .footer__footer-d-flex {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 970px) {
      .footer__footer-d-flex {
        flex-wrap: wrap; } }
  .footer__col-1 {
    width: 100%;
    max-width: 50%;
    padding-right: 160px; }
    @media (max-width: 1070px) {
      .footer__col-1 {
        max-width: 40%;
        padding-right: 30px; } }
    @media (max-width: 970px) {
      .footer__col-1 {
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        text-align: center; } }
    @media (max-width: 480px) {
      .footer__col-1 {
        padding-right: 5px;
        padding-left: 5px; } }
  .footer__col-2 {
    width: 100%;
    max-width: 16.666666%; }
    @media (max-width: 1070px) {
      .footer__col-2 {
        padding-right: 0px; } }
    @media (max-width: 970px) {
      .footer__col-2 {
        max-width: 33.333333%;
        padding-right: 0px; } }
    @media (max-width: 767px) {
      .footer__col-2 {
        max-width: 100%; }
        .footer__col-2:not(:first-child) {
          margin-top: 12px; } }
  .footer__pl-5 {
    padding-left: 27px !important; }
    @media (max-width: 970px) {
      .footer__pl-5 {
        padding-left: 0px !important; } }
  .footer__footer-h1 {
    font-size: 31.47px;
    color: #fff;
    margin-bottom: 23.6px;
    font-family: 'Oswald', sans-serif; }
    @media (max-width: 967px) {
      .footer__footer-h1 {
        font-size: 28px;
        text-align: center; } }
    @media (max-width: 767px) {
      .footer__footer-h1 {
        margin-bottom: 8px; } }
  .footer__footer-p {
    font-size: 23.6px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 28.32px; }
    @media (max-width: 967px) {
      .footer__footer-p {
        font-size: 20px; } }
  .footer__footer-ul {
    margin: 0;
    padding: 0; }
  .footer__footer-li {
    line-height: 41.59px; }
    @media (max-width: 767px) {
      .footer__footer-li:last-child {
        margin-bottom: 8px; } }
    @media (max-width: 967px) {
      .footer__footer-li {
        text-align: center; } }
  .footer__footer-a {
    font-size: 17.6px;
    font-family: 'Montserrat', sans-serif;
    color: #fff; }
    .footer__footer-a:hover {
      transition: all 0.5s ease;
      color: #c9c8c8; }
  .footer__social-d-flex {
    margin-top: 38px;
    display: flex; }
    @media (max-width: 970px) {
      .footer__social-d-flex {
        justify-content: center;
        margin-bottom: 2rem; } }
  .footer__social-container {
    border-radius: 50px;
    background-color: #fff;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 45px;
    margin-right: 15px; }
    .footer__social-container:hover {
      transition: all 0.5s ease-in-out;
      background-color: #e6e4e4; }
    .footer__social-container a {
      text-align: center;
      font-size: 19px;
      color: #222222;
      display: block; }
