.header{
    &__header-main-bg{
        min-height: 795px;
        width: 100%;
        background-size: cover;
        background-image: url(../../img/header_bg.png);
        background-repeat: no-repeat;
        padding-top: 360px;
        padding-bottom: 83px;
        @include respond(tab-land-6){
            background-position: 30% 100%;
        }
        @include respond(tab-land-5){
            background-position: 45% 100%;
        }
        @include respond(tab-port-1){
            background-position: 60% 100%;
            padding-top: 310px;
        }
        @include respond(phone-2){
            background-position: 80% 100%;
        }
        @include respond(phone){
            padding-top: 270px;
            min-height: 676px;
        }
        @include respond(zero-size){
            padding-top: 170px;
            padding-bottom: 60px;
        }
    }
    &__header-content{
        padding-left:78px;
        @include respond(phone){
            padding-left: 51px;
        }
        @include respond(zero-size){
            padding-left: 15px;
        }
    }
    &__header-h1{
      
        color: #fff;
        font-size: 91px;
        line-height: 96px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        @include respond(phone-2){
            // font-size: 75px;
        }
        @include respond(phone){
            font-size: 75px;
            line-height: 76px;
        }
        @include respond(zero-size){
            font-size: 55px;
            line-height: 60px;
        }
    }
    &__header-p{
        max-width: 640px;
        color: #fff;
        font-size: 29.75px;
        line-height: 39px;
        margin-top: 28px;
        margin-bottom: 54px;

        @include respond(phone-2){
            font-size: 28px;
        }
        @include respond(phone){
            font-size: 20px;
        }
        @include respond(zero-size){
            line-height: 30px;
            padding-right: 1rem;
        }
    }
    &__header-btn{
        display: block;
        width: 100%;
        max-width: 322px;
        background-color: #F64B3C;
        color: #fff;
        font-size: 25px;
        text-align: center;
        line-height: 65px;
        border-radius: 3px;
        font-weight: bold;
        transition:  all 0.5s ease-in-out;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        &:hover{
            background-color: #fd3d2cec;
        }
        @include respond(phone-2){
            font-size: 22px;
            line-height: 55px;
        }
        @include respond(phone){
            line-height: 45px;
            max-width: 280px;
        }
    }
}