.count{
    padding-top: 204px;
    padding-bottom: 262px;
    background-color: #F64B3C;
    @include respond (tab-port){
        padding-top: 160px;
        padding-bottom: 200px;
    }
    @include respond(phone-1){
        padding-top: 130px;
        padding-bottom: 150px;
    }
    @include respond(zero-size){
        padding-bottom: 100px;
        padding-top: 80px;
    }

    &__count-statistics{
        width: 100%;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
     
    }

    &__count-h1{
        font-size: 66.26px;
        margin-bottom: 53px;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        @include respond(zero-size){
            font-size: 45px;
        }
    }

    &__count-p{
        font-size: 24.68px;
        color: #fff;
        line-height: 29.61px;
        margin-bottom: 189px;
        @include respond(phone-1){
            margin-bottom: 100px;
        }
        @include respond(zero-size){
            margin-bottom: 66px;
            font-size: 20px;
        }
    }

    &__count-flex{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1225px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        @include respond(phone){
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }

    &__count-down,&__count-text-span{
        font-size: 101px;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        @include respond(tab-port-1){
            font-size: 80px;
        }
        @include respond(phone-2){
            font-size: 65px;
        }
    }

    &__count-p2{
        margin-top: 20px;
        font-size: 33.33px;
        color: #fff;
        @include respond(tab-port-1){
            font-size: 27px;
        }
        @include respond(phone-2){
            font-size: 20px;
        }
    }

    &__count-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include respond(phone){
            &:not(:first-child){
                margin-top: 100px;
            }
        }
        @include respond(zero-size){
            &:not(:first-child){
                margin-top: 80px;
            }
        }
    }
}