.tour{
    background-color: #E8631C;
    
    &__main-container{
        width: 100%;
        min-height:962px;
        padding-bottom: 98px;
        @include respond(zero-size){
            padding-bottom: 64px;
        }
    }
   

   &__tour-h1{
        padding-top: 108px;
        font-size: 75px;
        color:#fff ;   
        font-weight: 400;
        text-align: center;
        margin-bottom: 58px;
    @include respond(phone){
         font-size: 55px;
         line-height: 53px;
         margin-bottom: 0;
    } 
    @include respond(zero-size){
        padding-top: 54px;
        font-size: 50px;
    }
   
   }
   &__tour-p{
        font-size: 29.72px;
        font-weight: 400;
        color:#fff ;  
        line-height: 35.67px;
        padding: 30px 15px 0px 15px;
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
   
    @include respond(tab-port){
        font-size: 26px;
    }
    @include respond(phone){
        font-size: 22px;
        padding-top:44px;
        padding-bottom: 60px;
    }
    @include respond(zero-size){
        padding-top: 26px;
    }
}
    &__tour-container{
        margin-top: 85px;
        padding-left: 15px;
        padding-right: 15px;
       @include respond(phone){
           margin-top: 0px;
       }
   }
    &__tour-flex{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1265px;
        margin-left: auto;
        margin-right: auto;
        @include respond(phone){
            flex-wrap: wrap;
            justify-content: center;
        }
   }
    &__tour-col-1{
        // width: 100%;
        width: 372px;
        // padding: 0px 0px 0px 0px;
        text-align: center;
        
        background-color: #303030;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2%);
        border-radius: 3px;
      
      
        @include respond(phone){
            // max-width: 80%;
            &:not(:first-child){
                margin-top: 20px;
            }
        }
   }
   &__tour-mlr{
    margin-left: 12px;
    margin-right: 12px;
    @include respond(phone){
        margin-left: 0;
        margin-right: 0;
    }
   }
   &__tour-img{
    width: 100%;
    // max-width: 322px;
    height: 324px;
    object-fit: cover;
    // background-size: cover;
    // background-position: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
&__tour-content{
    @include respond(phone-2){
        padding-left: 12px;
        padding-right: 12px;
    }
}
    &__tour-h3{
        font-size: 33.35px;
        color:#FFF ;   
        font-weight: 400;
        margin-top: 36px;
        margin-bottom: 18px;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        @include respond(phone){
            margin-top: 26px;
        }
    }
   
    &__tour-p2{
        // margin-top: 9.6px;
        margin-bottom: 38px;
        font-size: 20px;
        color:#FFF ;   
        @include respond(phone-2){
            font-size: 18px;
        }
        @include respond(zero-size){
            margin-bottom: 26px;
        }
    }
  
    &__tour-btn{
       width: 100%;
       max-width: 324px;
       background-color: #303030; 
       color: #fff;
       font-size: 25px;
       display: block;
       padding-bottom: 15px;
       padding-top: 15px;
       text-align: center;
       border-radius: 3px;
       transition:  all 0.3s ease;
       margin-right: auto;
       margin-left: auto;
       font-family: 'Oswald', sans-serif;
       
       @include respond(phone-2){
        font-size: 21px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
       &:hover{
        background-color: #494848; 
       }
    }
}