.price{
    background-color:#303030;
    
    &__main-container{
        width: 100%;
        min-height:962px;
        padding-bottom: 98px;
    }

   &__price-h1{
        padding-top: 108px;
        font-size: 75px;
        color:#fff ;   
        font-weight: 400;
        text-align: center;
        margin-bottom: 58px;
    @include respond(phone){
         font-size: 55px;
         line-height: 53px;
         margin-bottom: 0;
    }
   }
   &__price-p{
        font-size: 29.72px;
        font-weight: 400;
        color:#fff ;  
        line-height: 35.67px;
        padding: 30px 15px 0px 15px;
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
   
    @include respond(tab-port){
        font-size: 26px;
    }
    @include respond(phone){
        font-size: 22px;
        padding-top:44px;
        padding-bottom: 60px;
    }
}
    &__price-container{
        margin-top: 85px;
        padding-left: 15px;
        padding-right: 15px;
       @include respond(phone){
           margin-top: 0px;
       }
   }
    &__price-flex{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1265px;
        @include respond(phone){
            flex-wrap: wrap;
            justify-content: center;
        }
   }
    &__price-col-1{
        width: 100%;
        max-width: 375px;
        padding: 62px 26px 28px 26px;
        text-align: center;
        background-color: #E8631C;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2%);
        border-radius: 10px;
         @include respond(tab-port){
             padding-left: 16px;
             padding-right: 16px;
         }
       
        @include respond(phone){
            max-width: 80%;
            &:not(:first-child){
                margin-top: 20px;
            }
        }
   }
   &__price-mlr{
    margin-left: 10px;
    margin-right: 10px;
   }
   &__price-img{
    width: 112px;
    height: 132px;
}

    &__price-h3{
        font-size: 33.35px;
        color:#FFF ;   
        font-weight: 400;
        margin-top: 60px;
        margin-bottom: 35px;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        @include respond(phone){
            margin-top: 40px;
        }
    }
   
    &__price-p2{
        margin-top: 9.6px;
        margin-bottom: 54px;
        font-size: 20px;
        color:#FFF ;   
        @include respond(phone-2){
            font-size: 18px;
        }
        @include respond(zero-size){
            margin-bottom: 40px;
        }
    }
  
    &__price-btn{
       width: 100%;
       max-width: 324px;
       background-color: #303030; 
       color: #fff;
       font-size: 25px;
       display: block;
       padding-bottom: 15px;
       padding-top: 15px;
       text-align: center;
       border-radius: 3px;
       transition:  all 0.3s ease;
       margin-right: auto;
       margin-left: auto;
       font-family: 'Oswald', sans-serif;
       
       @include respond(phone-2){
        font-size: 21px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
       &:hover{
        background-color: #494848; 
       }
    }
}