.subscribe{
    background-color: #E8631C;
    position: relative;
    overflow: hidden;
    width: 100%;
 
    &__subscribe-container{
        padding: 129px 15px 161px 15px;
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: relative;
        
        z-index: 44;
        // border: 1px solid red;
        @include respond(phone){
            padding-top: 70px;
            padding-bottom: 90px;
        }
    }
    &__subscribe-h1{
        // padding-top: 182px;
        font-size: 75px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 57px;
        font-family: 'Oswald', sans-serif;
        @include respond(tab-port){
            font-weight: bold;
            font-size: 60px;
            line-height: 50px;
        }
        @include respond(phone-2){
            font-size: 45px;
        }
    }
    &__subscribe-p{
        font-size: 29.72px;
        font-weight: 400;
        color: #fff;
        line-height: 35.67px;
        @include respond(tab-port){
            font-size: 26px;
        }
        @include respond(phone-2){
            font-size: 22px;
        }
    }
    &__search-container{
        margin-top: 60px;
        width: 100%;
        display: flex;
        border-radius: 2px;
        // border: 1px solid red;
    }
    &__subscribe-input{
        width: 100%;
        height: 65px;
        background-color: #fff;
        color: #835E3F;
        font-weight: 300;
        outline: none;
        border: 1px solid transparent ;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 20px;
        @include respond(tab-port){
            height: 50px;
        }
    }
    &__search-button{
        width: 100%;
        max-width: 222px;
        background-color: #303030;
        color: #fff;
        cursor: pointer;
        height: 65px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border: 1px solid transparent;
        font-weight: 400;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        @include respond(tab-port){
            height: 50px;
            font-size: 20px;
            max-width: 200px;
        }
        @include respond(phone){
            max-width: 150px;
            // background-color: red;
        }
        
    }
    &__subscribe_img-left,
    &__subscribe_img-right{
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        z-index: 1;
     
      
           @include respond(phone-2){
            display: none;
           }
    }

    &__subscribe_img-left{
        background-image: url(../../img/Subscribe_left.png);
        top: -2%;
        left: -6%;
        display: none;
        @include respond(tab-land-2){
            left: -10%;
            display: block;
           }
           @include respond(tab-land-6){
            left: -15%;
           }
           @include respond(tab-land-5){
               top: 2%;
            left: -25%;
           }
           @include respond(tab-port){
            left: -30%;
           }
           @include respond(phone-2){
            display: none;
        }
    }
    &__subscribe_img-right{
        background-image: url(../../img/Subscribe_right.png);
        top: -4%;
        right: -50%;
        display: none;
       @include respond(tab-land-2){
        right: -44%;
        top: -2%;
        display: block;
       }
       @include respond(tab-land-6){
        right: -39%;
       }
       @include respond(tab-land-5){
        right: -30%;
       }
       @include respond(phone-2){
           display: none;
       }
    }

   
}
.bg-color{
    width: 100%;
    background-color: pink;
    height: 200px;
}